/* src/components/References.css */

.references-section {
  margin-top: 2rem;
}

.reference-list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem; /* Space between reference entries */
}

.reference-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.reference-left {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.reference-left h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.reference-left .name {
  font-size: 0.9rem;
  color: #555;
  text-transform: uppercase;
  margin: 0;
  span {
    font-size: 1.1rem;
  }
}

.reference-left .organization {
  font-size: 1rem;
  color: #333;
  margin: 0;
  line-height: 1.5;
  /* This renders the \n newline character from the data */
  white-space: pre-line;
  font-weight: 300;
  margin-left: 15px;
}

.reference-left .email {
  font-size: 1rem;
  color: #333;
  margin: 0;
  font-weight: 300;
  margin-left: 15px;
}

.reference-right {
  text-align: right;
  flex-shrink: 0; /* Prevents shrinking */
  min-width: 150px;
}

.reference-right .abbr {
  font-size: 1rem;
  font-style: italic;
  color: rgb(220, 53, 34);
  margin: 0 0 0.25rem 0;
  font-weight: 300;
}

.reference-right .phone {
  font-size: 1rem;
  color: #333;
  margin: 0;
  font-weight: 300;
}
